[project]
	description = Java delegation library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/janvitasek
[access "refs/for/refs/*"]
	read = group user/janvitasek
	push = group user/janvitasek
	label-Code-Review = -2..+2 group user/janvitasek
	label-Verified = -1..+1 group user/janvitasek
	rebase = group user/janvitasek
	removeReviewer = group user/janvitasek
	submit = group user/janvitasek
[access "refs/heads/*"]
	read = group user/janvitasek
	create = group user/janvitasek
	push = +force group user/janvitasek
	pushMerge = group user/janvitasek
[access "refs/tags/*"]
	push = +force group user/janvitasek
	pushTag = group user/janvitasek
	pushSignedTag = group user/janvitasek
